.current-book {
    padding-top: 40px;
    padding-bottom: 20px;
}

.current-book-item {
    display: flex;
}

.current-book-item.blocked .current-book-img:before  {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.25);
    position: absolute;
    left: 0;
    top: 0;
    z-index: var(--zIndex-low);
    background-image: url('../../images/icons/block.svg');
    background-repeat: no-repeat;
    background-position: 50% 95%;
}

.current-book-img {
    margin-right: 20px;
    position: relative;
    width: 160px;
    height: 213px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgba(0, 126, 177, 0.3);
}

.current-book-img img {
    width: 160px;
    height: 213px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    object-fit: cover;
}

.current-book-title {
    font-size: 18px;
    line-height: 1.3em;
    color: #373277;
    margin-bottom: 10px;
}

.current-book-price {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3em;
    color: #E11B46;
    margin-bottom: 30px;
}

.current-book-button {
    text-align: center;
    cursor: pointer;
    padding: 6px 0;
    color: #fff;
    width: 120px;
    display: block;
    border: none;
    background-color: #373277;
}
